<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>任务7:产品官网</title>
		<link rel= "stylesheet" href="task07.css" type = "text/css">
	</head>
<body>
	<div class="header" id = "header">
		<span>
		<img src="http://pkjy.github.io/ife-task/2016_spring/part1/img/task07-header02.png" alt="logo">
		<!-- <strong>By Guangyuan Deng</strong> -->
		</span>
		<ul class="menu">
		<li><a href="#">首页</a></li>
		<li><a href="#">最新活动</a></li>
		<li><a href="#">项目介绍</a></li>
		<li><a href="#">爱心社区</a></li>
		<li><a href="#">关于我们</a></li>
		<li><a href="#"><img src="http://pkjy.github.io/ife-task/2016_spring/part1/img/task07-header01.png" alt="login"><%=name%></a></li>
		</ul>
	</div>

	<div class="part01">

		<div class="part01-pic">
			<img src="background.jpg">
		</div>
		<div class = "part01-content">
			<h1>Time of new life</h1>
			<h2>新时代，年轻的人们让我们一起</h2>
			<p>体验新生活，享受新生活</p>
			<span><a href="#">开始体验</a></span>
		</div>
	</div>

	<div class="part02">
		<ul>
			 <li><img src="http://pkjy.github.io/ife-task/2016_spring/part1/img/task07-background02-01.png" alt="icon">
                <p>打造全新世界观，让你更爱你的生活</p>
            </li>
            <li><img src="http://pkjy.github.io/ife-task/2016_spring/part1/img/task07-background02-02.png" alt="icon">
                <p>丰富多彩的公益活动，发挥新世界的主人公意识</p>
            </li>
            <li><img src="http://pkjy.github.io/ife-task/2016_spring/part1/img/task07-background02-03.png" alt="icon">
                <p>时尚的新理念，超前体验未知的生活</p>
            </li>
            <li><img src="http://pkjy.github.io/ife-task/2016_spring/part1/img/task07-background02-04.png" alt="icon">
                <p>完善的培养机制，培养你全新的世界观</p>
            </li>
		</ul>
	</div>


</body>
</html>